<div class="container mt-5">
    <h1 class="text-center">Solicitar Servicio de Taxi</h1>
        <div>
            @if(!tripService.destination()) {
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary" (click)="setDestination()">Selecciona tu destino</button>
                </div>
            }@else {
                <form [formGroup]="tripForm" id="taxiForm" class="mt-4">
                    <div class="mb-3">
                        <label for="formaPago" class="form-label">Forma de Pago</label>
                        <select class="form-select" id="formaPago" formControlName="payment_method">
                            <option value="">Seleccione una opción</option>
                            <option value="Efectivo">Pago en efectivo</option>
                            <option value="Tarjeta">Pago con tarjeta de crédito</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="createTrip()">Enviar Solicitud</button>
                </form>
            }
        </div>
</div>
