<div class="container mt-5">
    <h1 class="text-center">Solicitar Servicio de Taxi</h1>
        @if(rxTrip.value()) {
            <div class="form-check">
                <div class="card">
                    <div class="card-header">
                        {{ rxTrip.value().status }}
                    </div>
                <div class="card-body">
                    <h5 class="card-title">Viaje número: {{ rxTrip.value().id }}</h5>
                    <div class="d-flex gap-3">
                        <div class="d-flex gap-1">
                            <i class="bi bi-house-door-fill"></i>
                            <p class="card-text"><strong>Destino: </strong>{{ rxTrip.value().direction || 'Sin dirección' }}</p>
                        </div>
                        <p class="card-text"><strong>Conductor: </strong>{{ rxTrip.value().driver }}</p>
                        <p class="card-text"><strong>Usuario: </strong>{{ rxTrip.value().user }}</p>
                    </div>
                    <div class="text-end">
                        <a class="btn btn-primary" (click)="cancelTrip()">Cancelar</a>
                    </div>
                </div>
                </div>
            </div>
        }
        @else {
            <div>
                @if(!tripService.destination()) {
                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-primary" (click)="setDestination()">Selecciona tu destino</button>
                    </div>
                }@else {
                    <form [formGroup]="tripForm" id="taxiForm" class="mt-4">
                        <div class="mb-3">
                            <label for="formaPago" class="form-label">Forma de Pago</label>
                            <select class="form-select" id="formaPago" formControlName="payment_method">
                                <option value="">Seleccione una opción</option>
                                <option value="Efectivo">Pago en efectivo</option>
                                <option value="Tarjeta">Pago con tarjeta de crédito</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="createTrip()">Enviar Solicitud</button>
                    </form>
                }
            </div>
        }
</div>
